@use "base/variables" as v;
@use "base/mixins" as m;

.card {
  display: flex;
  height: 40px;

  @include m.tablet {
    justify-content: flex-end;
  }
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card .social-link2,
.card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;

  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link2:hover {
  background-color: #242c34;
  animation: bounce_613 0.4s linear;
  svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(342deg)
      brightness(108%) contrast(101%);
  }
}

.card .social-link4:hover {
  background-color: #254980;
  animation: bounce_613 0.4s linear;
  svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7497%) hue-rotate(342deg)
      brightness(108%) contrast(101%);
  }
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
